# IntelliJ project files
.idea
*.iml
out
gen

# Build files
build
.gradle

# Project specific
steam_appid.txt
latest-crash.log
OutdoorLighting-*.jar
AutoTorch-*.jar
mods/
steamcmd/
decompiled_outdoorlighting/
*.log
.DS_Store